
body {
    background-color: #e3e3ec;
    
}
h1 {
    text-align: center;
    max-width: 40%;
    margin: 15px;
    color: rgb(0, 0, 0);
    font-family: monospace;
}
p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 300;
    color: rgb(51, 52, 129);
}
img {
    border-radius: 100%;
}
.link-rede-sociais {
    text-decoration: none;
    background-color: rgb(168, 192, 177);
    padding: (15px 30px);
    border-radius: 5%;
}

.primeira-secao {
    float: left;    
}
.minhafoto {
    float: left;
    padding: 10px; 
    background-color: black;
}
.descricao {
    margin-left: 230px;
    max-width: 21%;
    margin-top: 30px;
}
.redes-soc {

}


